.header-component {
  background-color: rgb(63, 61, 61);
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.left-side {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.right-side {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.logout-btn {
  align-items: flex-end;
  background-color: black;
  border-color: black;
  color: aliceblue;
}

.home-btn{
background-color: rgb(37, 23, 231);
color: white;
font-weight: bold;
}
